<%= form_for(@healing) do |f| %>
  <% if @healing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@healing.errors.count, "error") %> prohibited this healing from being saved:</h2>

      <ul>
      <% @healing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :session_time %><br>
    <%= f.datetime_select :session_time %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
