<h1>Listing healings</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Session time</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @healings.each do |healing| %>
      <tr>
        <td><%= healing.price %></td>
        <td><%= healing.session_time %></td>
        <td><%= healing.comment %></td>
        <td><%= link_to 'Show', healing %></td>
        <td><%= link_to 'Edit', edit_healing_path(healing) %></td>
        <td><%= link_to 'Destroy', healing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Healing', new_healing_path %>
