<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @healing.price %>
</p>

<p>
  <strong>Session time:</strong>
  <%= @healing.session_time %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @healing.comment %>
</p>

<%= link_to 'Edit', edit_healing_path(@healing) %> |
<%= link_to 'Back', healings_path %>
