<%= form_for(@healer) do |f| %>
  <% if @healer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@healer.errors.count, "error") %> prohibited this healer from being saved:</h2>

      <ul>
      <% @healer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :certlevel %><br>
    <%= f.text_field :certlevel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
