<h1>Listing healers</h1>

<table>
  <thead>
    <tr>
      <th>Certlevel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @healers.each do |healer| %>
      <tr>
        <td><%= healer.certlevel %></td>
        <td><%= link_to 'Show', healer %></td>
        <td><%= link_to 'Edit', edit_healer_path(healer) %></td>
        <td><%= link_to 'Destroy', healer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Healer', new_healer_path %>
